.headerAdminPortal {
  background-color: black;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.adminBarIcon {
  width: 100%;
  text-align: right;
}

.profileTitle {
  color: white;
  padding: 5px;
}

.header-icon {
  margin-left: 20px;
}

.miProfileButton {
  background-color: black;
}
